[submodule "multiday-suite2p-public"]
	path = multiday-suite2p-public
	url = https://github.com/Sun-Lab-NBB/multiday-suite2p-public
[submodule "vr2p-fork"]
	path = vr2p-fork
	url = https://github.com/Sun-Lab-NBB/vr2p-fork
[submodule "2ACDC_parse"]
	path = 2ACDC_parse
	url = https://github.com/Sun-Lab-NBB/2ACDC_parse
[submodule "suite2p"]
	path = suite2p
	url = https://github.com/Sun-Lab-NBB/suite2p
